<div class="persona-dashboard-container">
  <app-persona-header [persona]="persona"></app-persona-header>
  <app-persona-bio [bio]="persona.bio"></app-persona-bio>
  <app-persona-quotes [quotes]="persona.quotes"></app-persona-quotes>
  <app-persona-needs [needs]="persona.needs"></app-persona-needs>
  <app-persona-pain-points [painPoints]="persona.painPoints"></app-persona-pain-points>
  <app-persona-ideal-experience [idealExperience]="persona.idealExperience"></app-persona-ideal-experience>
  <app-persona-goals [goals]="persona.goals"></app-persona-goals>
</div>